<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Execution Interface, Apache Airavata</title>
        <meta name="description" content="Workflow Execution Interface for Apache Airavata">
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="Sanchit Aggarwal">

        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

        <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="css/vendor/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please
                <a href="http://browsehappy.com/">upgrade your browser</a> or
                <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
                to improve your experience.
            </p>
        <![endif]-->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Execution Interface</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="run"><a href="#runModal" role="button" data-toggle="modal"><i class="icon-play icon-white"></i> Run</a></li>
                            <li class="stop"><a href="#stop"><i class="icon-stop icon-white"></i> Stop</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            <!--<h1>Bootstrap starter template</h1>
            <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
            -->
        </div> <!-- /container -->

        <div id="runModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="runModal" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="runModal">Launch Workflow</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal"  ui-keypress="{enter : 'run()'}">
                    <div class="control-group">
                        <label class="control-label" for="inputExperimentName"><i class=" icon-pencil icon-white"></i></label>
                        <div class="controls">
                            <input type="text" id="inputExperimentName" placeholder="Experiment Name" ng-model="name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputWorkflowInterpreterURL"><i class=" icon-upload icon-white"></i></label>
                        <div class="controls">
                            <input type="url" id="inputWorkflowInterpreterURL" placeholder="Workflow Interpreter URL" ng-model="interpreterURL">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputGFacURL"><i class=" icon-upload icon-white"></i></label>
                        <div class="controls">
                            <input type="url" id="inputGFacURL" placeholder="GFac URL" ng-model="GFacURL">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn">Run</button><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script>window.angular || document.write('<script src="js/vendor/angular.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/tv4.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
